﻿*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
}

body {
    background-color:black;
    color:white;
 
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url("../def.jpg");
    background-size: 40% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position:right center;
}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
    nav ul li a{
        color:#fff;
        text-decoration:none;
        font-size:18px;
        position:relative;
    }
  nav ul li a::after {
            content: '';
            width: 0;
            height: 3px;
            background: #ff004f;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition:0.5s;
        }
  nav ul li a:hover::after{
            width:100%;
        }
  .header-text{
      margin-top:20%;
      font-size:30px;
  }
.header-text h1{
font-size:60px;
margin-top:20px;
}
    .header-text h1 span{
        color:#b6ff00;
        font-family: 'Kristen ITC';
    }
    /*------------------personal details-----------------------*/
#personal{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.personal-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.personal-col-2{
    flex-basis:60%;
}
/*I am Wintana Gebrehiwot. I currently reside in BIT poly campus,Bahirdar university. I was born in January 26,jt2002 GC in Addis Ababa and fnished school there 
 until I started my bachelor degree in software engineering in Bahirdar University.

    Growing up I was really curious about what was going on in the digital world. I wanted to Know more about how the computer really works,
    the cyper security, AI and various exhilarating technologies and I still am. this has an effect in making me follow the path of software engineering
    currently,I want to be a competent software developer capable of performing tasks effectively. I also would really love if I could help others with 
    what I have.

    I have learned kindergarden in Kebron kindergardon,Addis Ababa for three years. Then I finished my primary and secondary school 
    in Cruise school,Addis Ababa. From there by being one of the good scorers, I was able to come and follow my path in software 
    enginnering in BIT poly compus, Bahirdar University.

*/
.sub title{
    font-size:60px;
    font-weight:600;
    color:white;
}
/*----------------services--------------*/
#services{
    padding:30px 0;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
/*----------------------educational---------------------*/
#educational {
   
    padding-bottom: 50px;
}
#biography {
    padding-top: 100px;
    padding-bottom: 50px;
}
#personal {
    padding-top: 100px;
    padding-bottom: 50px;

}
#container{
    padding-top: 100px;
    padding-bottom: 50px;
}
.biography-list{
    padding:20px;
}
.personel-list{
    padding: 20px;
}
.educational-list {
    padding: 20px;
}
.contact-list {
    padding: 20px;
}
html{
    scroll-behavior:smooth;
}